<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="PersonAction" class="cn.mvc.PersonAction">
		<property name="personService">
			<ref bean="PersonService" />
		</property>
	</bean>

	<bean id="PersonService" class="cn.mvc.PersonServiceImp">
		<property name="personDao">
			<ref bean="PersonDao" />
		</property>
	</bean>

	<bean id="PersonDao"   class="cn.mvc.PersonDaoImp">

	</bean>
</beans>